<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../styles/nav/style.css">
</head>
<body>
    <div class="container">
        <div class="nav-item">
            <a class="link" href="index.php?flag=home">Home</a>
        </div>
        <div class="nav-item">
            <a class="link" href="index.php?flag=home">Home</a>
        </div>
        <div class="nav-item">
            <a class="link" href="index.php?flag=home">Home</a>
        </div>
        <div class="nav-item">
            <a class="link" href="index.php?flag=home">Home</a>
        </div>
        <div class="nav-item">
            <a class="link" href="index.php?flag=home">Home</a>
        </div>
        <div class="nav-item">
            <a class="link" href="index.php?flag=home">Home</a>
        </div>
    </div>
</body>
</html>